*{
	box-sizing: border-box;
}
.container{
	display: flex;
	flex-direction: row;
	height: 100vh;
	position: relative;
}
.panel{
	text-wrap: nowrap;
	
}
.hello{
	margin: 15px;
	border-radius:60px;
	width: 150px;
	height: 70vh;
	flex: 0.5;
	text-wrap: wrap;
}
.active{
	flex: 5;
    border-radius: 50px;
	width: 50vh;
	height: 70vh;
	transition: linear 0.5s;
	
	
	
}
h3.active{
	opacity: 1;
	color: red;
	animation-delay: -2s;
	position: absolute;
    bottom: 8px;
    left: 16px;
}

h3{  
	opacity: 0;
	
}







